/* a {
    color: #18978F;
    padding: 20px;
    text-decoration: none;
}

a:hover {
    color: #F7ECDE;
}

body{
    background-color: #F7ECDE;
    color: #40514E ;
    font-family: 'Playfair Display', serif;
    margin: 0;
    margin-bottom: 0;
    text-align: center;
}

hr {
    border-color: #E9DAC1;
    border-style: dotted none none none;
    border-width: 5px;
    width: 8%;
}

h1 {
    color: #54BAB9;
    font-family: 'Dancing Script', cursive;
    font-size: 5.6rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #54BAB9;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: normal;
}

h3 {
    color: #18978F;
    font-family: 'Raleway', sans-serif;
}

p {
    line-height: 2;
}

.btn {
    background: #54BAB9;
    border-radius: 10px;
    color: #F7ECDE;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    position: relative;
    text-decoration: none;
    top: 40px;
  }
  
  .btn:hover {
    background: #18978F;
    text-decoration: none;
  }

.bottom-container {
    background-color:#54BAB9;
    padding: 40px 0 20px;
}

.contact-me {
    margin: 100px auto 100px auto;
    width: 50%;
}

.copyright{
    color: #F7ECDE;
    font-size: 0.75rem;
    padding: 20px 0;
}

.embed-img{
    float: right;
    margin-left: 30px;
    width: 25%;
}

.middle-container {
    margin: 100px 0;
}

.pro {
    text-decoration: underline;
}

.profile {
    margin: 100px auto 100px auto;
    width: 50%;
}

.skill-row{
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}


.top-container {
    background-color:#E9DAC1;
    padding-top: 100px;
    position: relative;
}

.web-dev-img{
    float: left;
    margin-right: 30px;
    width: 25%;
} */

body {
    font-family: 'Playfair Display', serif;;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family:'Playfair Display', serif;;
    font-weight: bold;
}

h1 {
    color: #ff4c68;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 6rem;
    margin: 0 auto;
}

h2 {
    color: #ff4c68;
}

h3 {
    color: #f7ecde;
    font-family: 'Raleway', sans-serif;
}

p {
    color: #8f8f8f;
}

/* Headings */
.big-heading {
    font-family: 'Playfair Display', serif;;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */
.container-fluid {
    padding: 7% 15%;
}


/* Sections */
.colored-section-1 {
    background-color: black;
}

.colored-section-2 {
    background-color: black;
}


/* Navigation Bar */
.navbar {
    background-color: black;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
}


/* Title Section */

#title {
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.pro {
    text-decoration: underline;
    text-decoration-color: #f00510;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    width: 60%;
    position: absolute;
    right: 30%;
}

.title-img-div{
    position: relative;
}

/* Features section */

#features {
    background-color: white;
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 2%;
}

.feature-image {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-image:hover {
    color: #ff4c68;
}


/* CTA Section */
.project-image {
    height: 400px;
    width: auto;
}

/* Footer Section */

.icon {
    margin: 20px 10px;
}

@media (max-width: 1030px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}

hr {
    /* border-color: #E9DAC1; */
    border-style: none none none none;
    border-width: 5px;
    width: 8%;
    align-self: center;
}